<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
</head>
<body>
    <h1>Hi <%= name %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti consequatur est necessitatibus fugit maiores sequi voluptatem in tempora. Atque commodi, dicta iste amet libero modi minima aspernatur quaerat excepturi quod!</p>
</body>
</html>